{% extends "base.html" %}
{% load static %}
{% block title %}Гостевая книга{% endblock %}
{% block nav_add %}
    <li class="nav-item">
        <a class="nav-link" href='{% url "create_record" %}'>Создать запись</a>
    </li>
{% endblock %}
{% block content %}

<div class="container">

            <h2>Список записей:</h2>

                        {% for record in records %}
                            <h4 class="card-title mt-2">{{ record.author }}({{ record.mail }})</h4>
                            <p>{{ record.description }}</p>

                            <a href="{% url "delete_record" record.pk %}">Delete</a>

        {% endfor %}


</div>
{% endblock %}